<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Chart JS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />

  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
{% load static %}


  <title>{% block title %}AeroDash{% endblock title %}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h1 {
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
      cursor: pointer;
    }

    li:hover {
      background-color: #f0f0f0;
    }

    span {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }

    span:hover {
      color: darkblue;
    }
  </style>
</head>

<body>
  
    <header>
      <div class="nav-left">
        <h1><a href="{% url 'home' %}">Homepage</a></h1>
      </div>
      <div class="nav-right">
        <a href="{% url 'file_upload' %}">+ Upload File</a>
      </div>
      <div class="nav-right">
        <a href="{% url 'dir_dashboard' %}">Director Dashboard</a>
      </div>
    </header>
    {% block content %} {% endblock content %}
  

</body>

</html>