{%load tags%}
{% if not request.user.is_authenticated or not request.user|in_group:"Chef de projets" %}
<div class="content">

    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h3 class="text-primary">AeroDash</h3>
                    </div>
                    <h6> Check your dashboard for specific insight</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "_base.html"%}







{% else %}

{% include "proj_template.html" %}

{% endif %}