{% extends "_base.html" %} {% block title %}Home{% endblock title %}

{% block content %}

<h1>This is our home page.</h1>
{% if user.is_authenticated %}
<p>Hi {{ user.email }}!</p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}

<ul id="project-list">
    <!-- Project items will be populated here dynamically -->
</ul>

<div id="phase-list">
    <!-- Phase items will be populated here dynamically -->
</div>

<div id="task-list">
    <!-- Task items will be populated here dynamically -->
</div>

{% endblock content %}